.message
  .upper-message
    .upper-message__user-name
      sample
    .upper-message__date
      2018-00-00 00:00 UTC
  .lower-message
    %p.lower-message__content
      こんにちわ
    %img.lower-maessage__image
